h2{
    color:rgb(79, 159, 190);
    text-align: center;
    align-items: center;
    font-size: 4rem;
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    margin: 25px;
}


@media (max-width: 1200px) 
{
    h2{
        color:rgb(79, 159, 190);
        text-align: center;
        align-items: center;
        font-size: 3rem;
        padding-top: 50px;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        font-weight: normal;
        margin-top: 50px;
    }
    
}